---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/search/trending
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"661e0f45a15c4e361b43ee9191f97670"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: |-
        {
        "coins": [{"item":{"id":"matic-network","coin_id":4713,"name":"Polygon","symbol":"MATIC","market_cap_rank":16,"thumb":"https://assets.coingecko.com/coins/images/4713/thumb/matic___polygon.jpg?1612939050","small":"https://assets.coingecko.com/coins/images/4713/small/matic___polygon.jpg?1612939050","large":"https://assets.coingecko.com/coins/images/4713/large/matic___polygon.jpg?1612939050","slug":"polygon","price_btc":4.774496780022442e-05,"score":0}},{"item":{"id":"shiba-inu","coin_id":11939,"name":"Shiba Inu","symbol":"SHIB","market_cap_rank":24,"thumb":"https://assets.coingecko.com/coins/images/11939/thumb/SHIBLOGO.png?1600752116","small":"https://assets.coingecko.com/coins/images/11939/small/SHIBLOGO.png?1600752116","large":"https://assets.coingecko.com/coins/images/11939/large/SHIBLOGO.png?1600752116","slug":"shiba-inu","price_btc":3.725378016648686e-10,"score":1}},{"item":{"id":"safemoon","coin_id":14362,"name":"SafeMoon","symbol":"[...]
