---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/global
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"862ef3a1f43fecff82cff94cf715abf0"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"active_cryptocurrencies":7362,"upcoming_icos":0,"ongoing_icos":50,"ended_icos":3375,"markets":616,"total_market_cap":{"btc":48911294.139994755,"eth":626630318.119593,"ltc":6994100047.806554,"bch":1930653268.767838,"bnb":4159998252.0512457,"eos":229460145920.72662,"xrp":1334581944500.6667,"xlm":3225052351610.0156,"link":53242179197.96526,"dot":54856119765.645515,"yfi":30524009.642599214,"usd":2142953338976.9612,"aed":7871097615409.103,"ars":201766490769813.66,"aud":2748494092831.696,"bdt":181703501580683.06,"bhd":807169090565.7411,"bmd":2142953338976.9612,"brl":11276846212071.756,"cad":2580287256395.38,"chf":1921952704081.6077,"clp":1.52899720736006e+15,"cny":13766332249588.018,"czk":44601287844127.49,"dkk":13044587707973.887,"eur":1754219460333.1987,"gbp":1508671294939.8655,"hkd":16641950620394.51,"huf":614452583188081.6,"idr":3.065741191040524e+16,"ils":6998583448677.968,"inr":156529909407673.22,"jpy":233450122318141.88,"krw":2418938989265428.5,"kwd":644278921363.4214,"lkr":422142864070944.94,"mmk":3.338253692563912e+15,"mxn":42560568380093.09,"myr":8842896953288.418,"ngn":873232056099722.0,"nok":17565989957208.002,"nzd":2954483339587.5186,"php":102596824806642.88,"pkr":327535760061790.06,"pln":7929891683217.277,"rub":157952804709314.0,"sar":8036810054158.872,"sek":17754141260370.176,"sgd":2849431481004.1885,"thb":67288734843876.39,"try":17893017494455.953,"twd":59874112005109.58,"uah":59024934600239.836,"vef":214573917831.76312,"vnd":4.934691018563399e+16,"zar":30006971998192.285,"xdr":1486845315182.3865,"xag":75815203307.13182,"xau":1147701519.7558925,"bits":48911294139994.76,"sats":4.891129413999476e+15},"total_volume":{"btc":6631557.232387878,"eth":84960639.28027461,"ltc":948283531.8836839,"bch":261764442.60675263,"bnb":564026509.2179041,"eos":31110975838.627354,"xrp":180947094160.62537,"xlm":437263409672.50525,"link":7218753147.642554,"dot":7437576620.470937,"yfi":4138547.5576966167,"usd":290548797852.028,"aed":1067189802193.6659,"ars":27356177231548.168,"aud":372650043307.4688,"bdt":24635969897027.758,"bhd":109438691296.54071,"bmd":290548797852.028,"brl":1528952614546.345,"cad":349843996517.6699,"chf":260584790878.34644,"clp":207306567267421.75,"cny":1866485477401.4304,"czk":6047192129694.259,"dkk":1768628932833.6614,"eur":237842955372.87192,"gbp":204550711919.7955,"hkd":2256371456495.078,"huf":83309541152958.2,"idr":4.156634684390789e+15,"ils":948891406404.2275,"inr":21222849876889.105,"jpy":31651950214803.18,"krw":327967857547469.44,"kwd":87353496074.21196,"lkr":57235544725476.52,"mmk":452611626981377.7,"mxn":5770504543341.355,"myr":1198949614336.392,"ngn":118395729636722.9,"nok":2381655807580.0703,"nzd":400578755952.1974,"php":13910421458470.072,"pkr":44408396397905.195,"pln":1075161299011.5345,"rub":21415770792077.3,"sar":1089657650182.7681,"sek":2407165992031.4775,"sgd":386335472783.895,"thb":9123232252553.654,"try":2425995297425.0815,"twd":8117932830888.062,"uah":8002798511507.223,"vef":29092651128.923565,"vnd":6.690619516238612e+15,"zar":4068445860522.756,"xdr":201591472413.6728,"xag":10279279431.399263,"xau":155609219.66561082,"bits":6631557232387.878,"sats":663155723238787.8},"market_cap_percentage":{"btc":38.259132842486686,"eth":18.555868478228195,"bnb":3.7183165449671693,"xrp":3.4653227295636126,"ada":3.060792573051515,"doge":2.9510624870337234,"usdt":2.652530102969678,"dot":1.8165220265611126,"bch":0.9732382844468698,"ltc":0.9582886668174445},"market_cap_change_percentage_24h_usd":-0.9554088490358789,"updated_at":1621346159}}'
  recorded_at: Tue, 18 May 2021 14:01:12 GMT
recorded_with: VCR 6.0.0
