---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/exchanges/binance/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.coingecko.com/api/v3/exchanges/binance/tickers?page=11>; rel="last",
        <https://api.coingecko.com/api/v3/exchanges/binance/tickers?page=2>; rel="next"
      Per-Page:
      - '100'
      Total:
      - '1023'
      Etag:
      - W/"b075173347e4276fd3e01709652cd3f0"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Binance","tickers":[{"base":"BUSD","target":"USDT","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":0.9998,"volume":1552811012.825285,"converted_last":{"btc":2.044e-05,"eth":0.0002605,"usd":0.999824},"converted_volume":{"btc":31733,"eth":404506,"usd":1552538185},"trust_score":"green","bid_ask_spread_percentage":0.010001,"timestamp":"2021-05-16T07:46:57+00:00","last_traded_at":"2021-05-16T07:46:57+00:00","last_fetch_at":"2021-05-16T07:46:57+00:00","is_anomaly":false,"is_stale":false,"trade_url":"https://www.binance.com/en/trade/BUSD_USDT?ref=37754157","token_info_url":null,"coin_id":"binance-usd","target_coin_id":"tether"},{"base":"BTC","target":"USDT","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":48964.36,"volume":86497.48158192317,"converted_last":{"btc":1.000814,"eth":12.757715,"usd":48966},"converted_volume":{"btc":86568,"eth":1103510,"usd":4235396768},"trust_score":"green","bid_ask_spread_percentage":0.01002,"timestamp":"2021-05-16T07:46:57+00:00","last_traded_at":"2021-05-16T07:46:57+00:00","last_fetch_at":"2021-05-16T07:46:57+00:00","is_anomaly":false,"is_[...]
