---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/asset_platforms
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cca33983c441b9d00c57eb8752af9ba0"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"factom","chain_identifier":null,"name":"Factom","shortname":""},{"id":"openledger","chain_identifier":null,"name":"OpenLedger","shortname":""},{"id":"cosmos","chain_identifier":null,"name":"Cosmos","shortname":""},{"id":"binancecoin","chain_identifier":null,"name":"Binance
        Coin","shortname":""},{"id":"metaverse-etp","chain_identifier":null,"name":"Metaverse
        ETP","shortname":""},{"id":"nem","chain_identifier":null,"name":"NEM","shortname":""},{"id":"icon","chain_identifier":null,"name":"ICON","shortname":""},{"id":"waves","chain_identifier[...]
