---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/indexes/cme_futures/btc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a09177bd049490441787ca73e67560a2"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"name":"CME Bitcoin Futures BTC","market":"CME Bitcoin Futures","last":null,"is_multi_asset_composite":false}'
  recorded_at: Mon, 19 Jul 2021 03:15:52 GMT
recorded_with: VCR 6.0.0
