---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/finance_products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.coingecko.com/api/v3/finance_products?page=9>; rel="last", <https://api.coingecko.com/api/v3/finance_products?page=2>;
        rel="next"
      Per-Page:
      - '50'
      Total:
      - '410'
      Etag:
      - W/"69a67c2b4a8820497b18986068766cd0"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"platform":"Binance Savings","identifier":"XTZ001","supply_rate_percentage":"1.956035","borrow_rate_percentage":null,"number_duration":null,"length_duration":null,"start_at":0,"end_at":0,"value_at":0,"redeem_at":0},{"platform":"Binance
        Savings","identifier":"ZEC001","supply_rate_percentage":"0.182865","borrow_rate_percentage":null,"number_duration":null,"length_duration":null,"start_at":0,"end_at":0,"value_at":0,"redeem_at":0},{"platform":"Crypto.com","identifier":"BAT","supply_rate_percentage":"2.0","borrow_rate_percentage":null,"number_duration":null,"length_duration":null,"start_at":0,"end_at":0,"value_at":0,"redeem_at":0},{"platform":"Binance
        Savings","identifier":"UNI001","supply_ra[...]
