---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/coins/bitcoin/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.coingecko.com/api/v3/coins/bitcoin/tickers?page=91>; rel="last",
        <https://api.coingecko.com/api/v3/coins/bitcoin/tickers?page=2>; rel="next"
      Per-Page:
      - '100'
      Total:
      - '9056'
      Etag:
      - W/"abb52163d782422d0f8edb99a6ec3bce"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Bitcoin","tickers":[{"base":"BTC","target":"USDT","market":{"name":"FTX.US","identifier":"ftx_us","has_trading_incentive":false},"last":48897.0,"volume":118.052270895965,"converted_last":{"btc":0.99302464,"eth":12.575918,"usd":48771},"converted_volume":{"btc":117.229,"eth":1485,"usd":5757490},"trust_score":"green","bid_ask_spread_percentage":0.036812,"timestamp":"2021-05-15T15:49:55+00:00","last_traded_at":"2021-05-15T15:49:55+00:00","last_fetch_at":"2021-05-15T15:49:55+00:00","is_anomaly":false,"is_stale":false,"trade_url":"https://ftx.us/trade/BTC/USDT","token_info_url":null,"coin_id":"bitcoin","target_coin_id":"tether"},{"base":"BTC","target":"USD","market":{"name":"FTX.US","identifier":"ftx_us","has_trading_incentive":false},"last":48929.0,"volume":822.489464481187,"converted_last":{"btc":0.99624809,"eth":12.616741,"usd":48929},"converted_volume":{"btc":819.404,"eth":10377,"usd":40243587},"trust_score":"green","bid_ask_spread_percentage":0.042912,"timestamp":"2021-05-15T15:49:55+00:00","last_traded_at":"2021-05-15T15:49:55+00:00","last_fetch_at":"2021-05-15T15:49:55+00:00","is_anomaly":false,"is_stal[...]
