---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/global/decentralized_finance_defi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ca71cfc8ad4cb6ab8ca1df0a35ca9b9"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"defi_market_cap":"126209687895.026510664421836369","eth_market_cap":"397417477636.8047863806894481302","defi_to_eth_ratio":"31.757457836408512836828030372466536330023004286301041843566019","trading_volume_24h":"15401284643.97339021491159452764","defi_dominance":"5.8946472721221314944597989721592904300128622135909285","top_coin_name":"Uniswap","top_coin_defi_dominance":14.383511406201583}}'
  recorded_at: Tue, 18 May 2021 14:01:08 GMT
recorded_with: VCR 6.0.0
