---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/coins/markets?ids=bitcoin&vs_currency=myr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"397c179e13fba31d416cfba34cb9160e"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"bitcoin","symbol":"btc","name":"Bitcoin","image":"https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579","current_price":202369,"market_cap":3786489203349,"market_cap_rank":1,"fully_diluted_valuation":4249745683147,"total_volume":254459451496,"high_24h":211637,"low_24h":198102,"price_change_24h":-9268.24442892,"price_change_percentage_24h":-4.37931,"market_cap_change_24h":-169646451000.5254,"market_cap_change_percentage_24h":-4.28819,"circulating_supply":18710831.0,"total_supply":21000000.0,"max_supply":21000000.0,"ath":267546,"ath_change_percentage":-24.36119,"ath_date":"2021-04-14T11:54:46.763Z","atl":211.18,"atl_change_percentage":95729.47023,"atl_date":"2013-07-05T00:00:00.000Z","roi":null,"last_updated":"2021-05-15T15:59:43.867Z"}]'
  recorded_at: Sat, 15 May 2021 16:01:06 GMT
recorded_with: VCR 6.0.0
