---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/derivatives/exchanges/binance_futures
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b78a529d35b3eea47211aa866f4fafbc"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Binance (Futures)","open_interest_btc":240213.7,"trade_volume_24h_btc":"2343566.75","number_of_perpetual_pairs":132,"number_of_futures_pairs":32,"image":"https://assets.coingecko.com/markets/images/466/small/binance_futures.jpg?1568609512","year_established":2019,"country":null,"description":"","url":"https://www.binance.com/"}'
  recorded_at: Tue, 18 May 2021 14:01:27 GMT
recorded_with: VCR 6.0.0
