---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/derivatives
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c2deaae7f402cd4e8af3a806b1e776e9"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"market":"Binance (Futures)","symbol":"BTCUSDT","index_id":"BTC","price":"43692.79","price_percentage_change_24h":-2.5345292956624483,"contract_type":"perpetual","index":43782.07332908,"basis":-0.04339315587652177,"spread":0.02,"funding_rate":0.021023,"open_interest":1843486360.07,"volume_24h":28083676311.186348,"last_traded_at":1621346317,"expired_at":null},{"market":"Bybit","symbol":"BTCUSD","index_id":"BTC","price":"43744.0","price_percentage_change_24h":-2.602809876873066,"contract_type":"perpetual","index":43765.36,"basis":0.04882955376737381,"spread":0.01,"funding_rate":0.01,"open_interest":1642005085.0,"volume_24h":5862684614.4,"last_traded_at":1621346363,"expired_at":null},{"market":"FTX
        (Derivatives)","symbol":"ETH-PERP","index_id":"ETH","price":"3384.0","price_percentage_change_24h":-1.8362196501609955,"contract_type":"perpet[...]
