---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/exchanges/binance/tickers?coin_ids=bitcoin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '100'
      Total:
      - '17'
      Etag:
      - W/"0199b667384889ba5fbbe1b517b81800"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Binance","tickers":[{"base":"BTC","target":"USDT","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":48964.36,"volume":86497.48158192317,"converted_last":{"btc":1.000814,"eth":12.757715,"usd":48966},"converted_volume":{"btc":86568,"eth":1103510,"usd":4235396768},"trust_score":"green","bid_ask_spread_percentage":0.01002,"timestamp":"2021-05-16T07:46:57+00:00","last_traded_at":"2021-05-16T07:46:57+00:00","last_fetch_at":"2021-05-16T07:46:57+00:00","is_anomaly":false,"is_stale":false,"trade_url":"https://www.binance.com/en/trade/BTC_USDT?ref=37754157","token_info_url":null,"coin_id":"bitcoin","target_coin_id":"tether"},{"base":"BTC","target":"BUSD","market":{"name":"Binance","identifier":"binance","has_trading_incentive":false},"last":48971.8,"volume":18143.51055858951,"converted_last":{"btc":1.000873,"eth":12.758467,"usd":48968},"converted_volume":{"btc":18159,"eth":231483,"usd":888459339},"trust_score":"green","bid_ask_spread_percentage":0.01002,"timestamp":"2021-05-16T07:46:30+00:00","last_traded_at":"2021-05-16T07:46:30+00:00","last_fetch_at":"2021-05-16T07:46:30+00:00","is_anomaly":false,"is_sta[...]
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/exchanges/binance/tickers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.coingecko.com/api/v3/exchanges/binance/tickers?page=12>; rel="last",
        <https://api.coingecko.com/api/v3/exchanges/binance/tickers?page=2>; rel="next"
      Per-Page:
      - '100'
      Total:
      - '1112'
      Etag:
      - W/"225bc83dea97bfb5d82d982437b8ab54"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Binance","tickers":[{"base":"BUSD","target":"USDT","market":{"name":"Binance","identifier":"bina[...]
