---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/indexes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.coingecko.com/api/v3/indexes?page=27>; rel="last", <https://api.coingecko.com/api/v3/indexes?page=2>;
        rel="next"
      Per-Page:
      - '50'
      Total:
      - '1343'
      Etag:
      - W/"a07a8eaf585c00afd8612006b1b27793"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"CoinFLEX (Futures) DFN","id":"DFN","market":"CoinFLEX (Futures)","last":null,"is_multi_asset_composite":null},{"name":"Bibox
        (Futures) LINK","id":"LINK","market":"Bibox (Futures)","last":null,"is_multi_asset_composite":null},{"name":"CME
        Bitcoin Futures BTC","id":"BTC","market":"CME Bitcoin Futures","last":null,"is_multi_asset_composite":false},{"name":"Bibox
        (Futures) XRP","id":"XRP","market":"Bibox (Futures)","last":null,"is_multi_asset_composite":null},{"name":"dYdX
        Perpetual AVAX","id":"AVAX","market":"dYdX Perpetual","last":35.1717,"is_multi_asset_composite":nu[...]
