---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/coins/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"53f0c6125d889fddae8ffbc17be085da"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"exchange-based-tokens","name":"Exchange-based Tokens","market_cap":169371736001.31586,"market_cap_change_24h":-0.0922414270544203,"volume_24h":15951052818.441586,"updated_at":"2021-05-16T08:20:23.151Z"},{"id":"decentralized-finance-defi","name":"Decentralized
        Finance (DeFi)","market_cap":136820578041.49733,"market_cap_change_24h":-0.9466181422841903,"volume_24h":14287923081.250826,"updated_at":"2021-05-16T08:20:20.877Z"},{"id":"centralized-exchange-token-cex","name":"Centralized
        Exchange Token (CEX)","market_cap":122947523197.55856,"market_cap_change_24h":0.26640274656563356,"volume_24h":11040737416.224226,"updated_at":"2021-05-16T08:20:06.231Z"},{"id[...]
