---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/finance_platforms
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Per-Page:
      - '50'
      Total:
      - '21'
      Etag:
      - W/"171007ea8f6b7a4b07936eb8d4f658ea"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Binance Staking","facts":"","category":"CeFi Platform","centralized":true,"website_url":"https://www.binance.com/en/staking"},{"name":"Celsius
        Network","facts":"","category":"CeFi Platform","centralized":true,"website_url":"https://celsius.network/"},{"name":"Cobo","facts":"","category":"CeFi
        Platform","centralized":true,"website_url":"https://cobo.com/"},{"name":"Dai
        Savings Rate","facts":"","category":"DeFi Platform","centralized":false,"website_url":"https://oasis.app/save"},{"name":"dYdX","facts":"","category":"DeFi
        Platform","centralized":false,[...]
